
{% extends "base.html" %}

{% block body %}
<div class="container" width="w-50">

<h2 class="mt-2 mb-2">Strong password using keyword</h2>

        <form action="{% url 'password_generator' %}">
        <div class="row">
            Keyword
            <input class="form-control" type="text" name="keyword" required> 
        </div>


        <div class="row">

            Length
            <select class="form-control" name="length" class="btn-sm dropdown-toggle"> 
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12" selected>12</option>
            </select>

        </div>

        
        <div class="row">

            Uppercase
            <input class="form-control" type="checkbox" name="uppercase">
        </div>
 

        <div class="row">

            Numbers
            <input class="form-control" type="checkbox" name="numbers">
       </div>


        <div class="row">
 
            Special Character
            <input class="form-control" type="checkbox" name="special">
        </div>


        <div class="row">
            <input class="form-control" type="submit" value="Generate Password" class="btn btn-warning">
            </div>
        </form>

        <div class="row">
            <b>Password : {{password}}</b>
        </div>

    </div>

{% endblock body %}